*{
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    background: #ddc1c1;
}

h1{
    margin: 0;
    font-size: 1.5rem;
}

h2{    
    margin:0;
    font-size: 0.8;
}

h3{
    margin: 0;
    color: rgb(48, 45, 45);
    font-weight: bold;
}

p{
    margin: 10px 0;
    margin-bottom: 0.3rem;
}

.under{
    text-align: center;
    color: red;
    font-size: 8rem;
    font-weight: bold;
    text-shadow: 4px 4px rgb(72, 80, 72);
}

nav>div{
    margin: 0 auto;
    background: #e76f6f;
    border-radius: 5px;
    padding: 0.5rem;
}

.page-number{
    margin: 0; 
    font-size: 0.6rem;
    font-weight: bold;       
}

.btn-var{
    background-color: #4CAF50; /* Green */
    border: 1px black solid;  
    padding: 6px 0px 6px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;    
}

button a{
    font-weight: bold;
    border-radius: 2px;
    padding: 3px;
    color: rgb(61, 40, 40);
    text-decoration: none;
    margin-left: 5px;
}

.codeBox{	
    margin: 0 auto;
	padding: 10px 10px 10px; 
	font-size: 14px; 
	line-height: 20px;
	width: 100%;
	background-color: rgb(97, 81, 81);   
	font-weight: bold;
    border-radius: 5px;
}

code{
    margin: 0 auto;
    font-size: 1rem;      
}